#rodape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5vh 0;
    background-color: #212121;
    overflow: hidden;
}

#rodape span{
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
}

@media (max-width: 1400px) {
    #rodape{
        padding: 2.5vh 5%;
        background-color: #212121;
    }
    
}